<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="YP1Entities2" connectionString="metadata=res://*/DatabaseHelper.Model1.csdl|res://*/DatabaseHelper.Model1.ssdl|res://*/DatabaseHelper.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZEROYZ;initial catalog=YP1;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration> 
